# dependencies
/node_modules
/.pnp
.pnp.*

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# local environment files
.env*
!.env.example

# vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# OS and editor files
.DS_Store
Thumbs.db
.vscode/

.vercel
